@import "../../../styles/variables";

.selectTime {
  width: min-content;
  margin-bottom: 20px;
  font-weight: 500;
  option {
    font-weight: 500;
  }
}
.titleCalendar {
  font-size: 17px;
  font-weight: 500;
  color: $primary-color;
  i {
    margin-right: 10px;
  }
}
.scheduleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
