.btnSlider {
    $height-arrow: 40px;
    border: 0;
    width: $height-arrow;
    height: $height-arrow;
    border-radius: 50%;
}

.nextArrow {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
}
.prevArrow {
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
}