@import "../../styles/_variables.scss";
.homePage {
  color: $text-color;
}
.headerContainer {
  width: 100%;
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: #fff;
    .headerWrapper {
      display: flex;
      margin: 0 auto;
      height: $height-header;
      .headerLogo {
        display: flex;
        align-items: center;
        padding-left: 10px;
        flex: 1 1;
        cursor: pointer;
        i {
          font-size: 25px;
          color: $second-color;
        }
        .headerLogoImage {
          height: 60%;
          width: 60%;
          background-image: url("../../assets/images/BookingCare.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center left;
          margin-left: 10px;
        }
      }
      .headerList {
        flex: 2 1;
        height: $height-header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .headerItemList {
          display: block;
          text-decoration: none;
          p {
            margin: 0;
            color: $text-color;
          }
          p:last-child {
            font-size: 12px;
          }
          &:hover {
            transform: scale(0.98);
            cursor: pointer;
            p {
              color: #3dc1d3;
            }
          }
        }
      }
      .headerRight {
        flex: 1 1;
        display: flex;
        padding-right: 10px;
        align-items: center;
        justify-content: flex-end;
        i {
          font-size: 25px;
          color: $primary-color;
        }
        span {
          font-size: 16px;
          font-weight: 500;
          margin-left: 6px;
          color: $sub-text-color;
        }
        .languageOptions {
          font-size: 16px;
          font-weight: 500;
          margin-left: 25px;
          span {
            color: $sub-text-color;
            cursor: pointer;
            opacity: 0.5;
            &.active {
              color: #3dc1d3;
              opacity: 1;
            }
            &:hover {
              color: #3dc1d3;
              opacity: 8;
            }
          }
        }
      }
    }
  }
  .bannerHomePage {
    height: calc(100vh - #{$height-header});
    background: url("../../assets/images/bookingcare-cover-4.jpg") no-repeat
      center center;
    position: relative;
    margin-top: $height-header;
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
      position: relative;
      .title {
        position: relative;
        text-align: center;
        color: #fff;
        font-weight: 400;
        h2 {
          line-height: 50px;
          text-shadow: 1px 2px #333;
        }
      }
      .search {
        position: relative;
        input {
          padding: 15px 20px;
          padding-left: 50px;
          width: 30vw;
          border-radius: 45px;
          border: 0;
          outline: 0;
        }
        i {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 18px;
          color: $primary-color;
        }
        .contentSearch {
          display: none;
        }
      }
      .searchActive {
        position: relative;
        input {
          padding: 15px 20px;
          padding-left: 50px;
          width: 30vw;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
          border: 0;
          border-bottom: 1px solid #999;
          outline: 0;
        }
        i {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 18px;
          color: $primary-color;
        }
        .contentSearch {
          position: absolute;
          left: 0;
          right: 0;
          top: 80%;
          height: min-content;
          min-height: 100px;
          background: #fff;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          // align-items: center;
          padding: 10px 20px;
          z-index: 2;
          .itemSearch {
            display: flex;
            align-items: center;
            height: 15px;
            color: $primary-color;
            font-weight: 500;
            cursor: pointer;
            &:hover {
              color: #34495e;
            }
          }
        }
      }

      .listOptions {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        background: linear-gradient(to top, #fff 60%, rgba(255, 255, 255, 0));
        padding-bottom: 40px;
        gap: 40px;
        .optionItem {
          text-align: center;
          width: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .iconOptions {
            $width-wrapper: 60px;
            width: $width-wrapper;
            height: $width-wrapper;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              font-size: 30px;
              color: $primary-color;
            }
            svg {
              width: 2rem;
              height: 2rem;
              color: $primary-color;
            }
          }
          .titleOptions {
            margin-top: 5px;
            font-size: 17px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
