@import "variables";

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-red {
  color: $common-red !important;
}

.mt-header {
  margin-top: $height-header;
}
.mt-header-section {
  margin-top: calc(#{$height-header-section} + 10px);
}
